[submodule "DeMiSTify"]
	path = DeMiSTify
	url = https://github.com/robinsonb5/DeMiSTify.git
[submodule "mist-modules"]
	path = mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "rtl/jtopl"]
	path = rtl/jtopl
	url = https://github.com/jotego/jtopl
